
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/javascripts/ie-emulation-modes-warning.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    

    
    <script src="/javascripts/AngularApp.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="mathLab">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Math Lab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
<!--             <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li> -->
          </ul>
<!--           <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
<!--             <li class="active"><a href="/dashboard"><i class="fa fa-child fa-fw"></i> Open Requests <span class="sr-only">(current)</span></a></li> -->
            <li><a href="/dashboard"><i class="fa fa-child fa-fw"></i> Open Requests</a></li>
            <li><a href="#/closed"><i class="fa fa-list fa-fw"></i> Closed Requests</a></li>
          </ul>
          <ul class="nav nav-sidebar">
<!--            <li><a href="#/users"><i class="fa fa-users fa-fw"></i> Manage Users</a></li> -->
            <li><a href="#/courses"><i class="fa fa-book fa-fw"></i> Manage Courses</a></li>
            <li><a href="#/teachers"><i class="fa fa-user fa-fw"></i> Manage Teachers</a></li>
            <li><a href="#/assignments"><i class="fa fa-paperclip fa-fw"></i> Manage Assignments</a></li>
            <li><a href="#/problems"><i class="fa fa-file fa-fw"></i> Manage Problems</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<!-- THIS IS THE MAIN CONTENT AREA -->
            <ui-view></ui-view>
<!-- END OF MAIN CONTENT AREA -->
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/javascripts/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>

//request page
<script type="text/ng-template" id="/requests.html">
          <h1 class="page-header">Requests</h1>

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
              <a href="" ng-click="getNextRequest()" data-toggle="modal" data-target="#myModal">
              <span><i class="fa fa-smile-o fa-5x"></i></span>
             <!--  <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>Get Next Request</h4>
              </a>
              
            </div>
            
            <div class="col-xs-12 col-sm-6 placeholder">
              <a href="/logout">
              <span><i class="fa fa-sign-out fa-5x"></i></span>
              <h4>Logout</h4>
              </a>
            </div>
          </div>

          <h3 class="sub-header">Pending Requests</h3>
          <div class="table-responsive">
            <table ng-table="requestParams" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Requested</th>
                  <th>Course</th>
                  <th>Teacher</th>
                  <th>Assignment</th>
                  <th>Problem</th>
				  <th></th>
                </tr>
              </thead>
            <tr ng-repeat="request in requests | filter: showPending">
            	<td data-title="Name">{{request.name}}</td>
            	<td data-title="Requested">{{request.requestDate}}</td>
            	<td data-title="Course">{{request.course.name}}</td>
            	<td data-title="Teacher">{{request.instructor.lastName}}</td>
            	<td data-title="Assignment">{{request.assignment.title}}</td>
            	<td data-title="Problem">{{request.problem}}</td>
				<td><button type="button" class="btn btn-sm btn-danger" aria-label="Close" ng-click="removeRequest(request)"><i class="fa fa-trash-o"></i></button></td>
            </tr>
            </table>
          </div>


          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Request</h4>
                </div>
                <div class="modal-body">
                  <b>Name:</b> {{request.name}} </br>
                  <b>Course:</b> {{request.course.name}} </br>
                  <b>Instructor:</b> {{request.instructor.lastName}} </br>
                  <b>Assignment:</b> {{request.assignment.title}} </br>
                  <b>Problem:</b> {{request.problem}} </br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="finnishRequest()" >Finnished Helping</button>
                </div>
              </div>
            </div>
          </div>
          
</script>




<script type="text/ng-template" id="/closed.html">
  <h1 class="page-header">Closed Requests</h1>
  <div class="table-responsive">
  <table ng-table="requestParams" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Requested</th>
        <th>Started Help</th>
        <th>Ended Help</th>
        <th>Course</th>
        <th>Teacher</th>
        <th>Assignment</th>
        <th>Problem</th>
      </tr>
    </thead>
  <tr ng-repeat="request in requests | filter: showClosed">
    <td data-title="Name">{{request.name}}</td>
    <td data-title="Requested">{{request.requestDate}}</td>
    <td data-title="Requested">{{request.startHelp}}</td>
    <td data-title="Requested">{{request.endHelp}}</td>
    <td data-title="Course">{{request.course.name}}</td>
    <td data-title="Teacher">{{request.instructor.lastName}}</td>
    <td data-title="Assignment">{{request.assignment.title}}</td>
    <td data-title="Problem">{{request.problem}}</td>
  </tr>
  </table>
</div>
</script>

<script type="text/ng-template" id="/users.html">
<h1 class="page-header">Manage Users</h1>
</script>

<script type="text/ng-template" id="/courses.html">
<h1 class="page-header">Manage courses</h1>
<form ng-submit="addCourse()" method="post">
  <h3>Add a Course</h3>
  <label>Course Name: </label>
  <input type="text" ng-model="name"></input>
  <input type="submit" value="Submit"> 
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>                
        <th>Class Name</th>
        <th>Teachers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courses">
        <td>{{course.name}}</td>
        <td>{{course.instructors}}</td>
      </tr>
    </tbody>
  </table>
</div>
</script>

<script type="text/ng-template" id="/teachers.html">
<h1 class="page-header">Manage Teachers</h1>
<form ng-submit="addTeacher()" method="post">
  <h3>Add a Teacher</h3>
  <label>First Name: </label>
  <input type="text" ng-model="firstName"></input>
  <label>Last Name: </label>
  <input type="text" ng-model="lastName"></input>
  <label>Course</label>
  <select ng-model="course" ng-options="item.name for item in courses">
  </select>
  <input type="submit" value="Submit"> 
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>                
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="teacher in instructors">
        <td>{{teacher.firstName}}</td>
        <td>{{teacher.lastName}}</td>
      </tr>
    </tbody>
  </table>
</div>

</script>

<script type="text/ng-template" id="/assignments.html">
<h1 class="page-header">Manage Assignments</h1>
<form ng-submit="addAssignment()" method="post">
  <h3>Add an Assignment</h3>
  <label>Assignment: </label>
  <input type="text" ng-model="name"></input>
  <label>Course</label>
  <select ng-model="selectedCourse" ng-change="changeCourse()" ng-options="item.name for item in courses">
  </select>
  <label>Teacher</label>
  <select ng-model="selectedTeacher" ng-options="teacher.firstName + ' ' + teacher.lastName for teacher in teachers">
  </select>
  <input type="submit" value="Submit"> 
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>                
        <th>Course</th>
        <th>Instructor</th>
        <th>Assignment</th>
        <th>Problems</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="assignment in Assignments">
        <td>{{assignment.title}}</td>
        <td>{{assignment.problems}}</td>
      </tr>
    </tbody>
  </table>
</div>
</script>

<script type="text/ng-template" id="/problems.html">
<h1 class="page-header">Manage Problems</h1>
<form ng-submit="addProblem()" method="post">
  <h3>Add a Problem</h3>
  <label>Problem: </label>
  <input type="text" ng-model="problem"></input>
  <label>Course</label>
  <select ng-model="selectedCourse" ng-change = "changeCourse()" ng-options="item.name for item in courses">
  </select>
  <label>Teacher</label>
  <select ng-model="selectedTeacher" ng-change = "changeTeacher()" ng-options="teacher.firstName + ' ' + teacher.lastName for teacher in teachers">
  </select>
  <label>Assignment</label>
  <select ng-model="selectedAssignment" ng-options="assignment.title for assignment in assignments">
  </select>
  <input type="submit" value="Submit"> 
</form>
</script>