
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BYU Math Lab</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/javascripts/ie-emulation-modes-warning.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

    <script src="/javascripts/AngularApp.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="mathLab" ng-controller="RequestPage">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">BYU Math Lab</h3>
              <nav>
                <ul class="nav masthead-nav">
<!--                   <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li> -->
                  <li><a href="/dashboard">TA/Admin Login</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Signup</h1>
<!--             <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p> -->
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" ng-model = "name" id="nameInput" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="course">Course</label>
                <select class="form-control" ng-model="selectedCourse" ng-change="changeCourse()" ng-options="item.name for item in courses">
                </select>
              </div>
              <div class="form-group">
                <label for="teacher">Teacher</label>
                <select class="form-control" ng-model="selectedTeacher" ng-change="changeTeacher()" ng-options="teacher.firstName + ' ' + teacher.lastName for teacher in teachers">
                </select>
              </div>			        
			  <div class="form-group">
                <label for="assignment">Assignment</label>
                <select class="form-control" ng-model = "selectedAssignment" ng-change = "changeAssignment()" ng-options = "assignment.title for assignment in assignments">
                </select>
              </div>
			  <div class="form-group">
                <label for="problem">Problem</label>
                <select class="form-control" ng-model = "selectedProblem">
                  <option ng-repeat="problem in problems">{{problem}}</option>
                </select>
              </div>
              <button type="submit" ng-click="submitRequest()" class="btn btn-default" data-toggle="modal" data-target="#myModal">Submit Request</button>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>CS 360 Project | 2015</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    
	    <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content" id="requestRecieved">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Request Submitted</h4>
	      </div>
	      <div class="modal-body">
	        <p>Your request has been submitted!</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>